*
{
    padding: 0;
    margin: 0;
}

/* font-family: 'Inter', sans-serif; */
/* font-family: 'Merriweather', serif; */

.comon-container
{
    width: 1320px;
    margin: auto;
}

.banner-content
{
    background-image: url('../image/resources/Banner\ Image.png');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
    border-radius: 10px;
}

.banner-opacity
{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.banner-title
{
    width: 632px;
    margin: auto;
    padding: 175px 0px;
}

.banner-title h3
{
    text-align: center;
    font-size: 32px;
    font-weight: 400px;
    font-family: 'Merriweather', serif;
    padding-bottom: 16px;
    color: #fff;

}

.banner-title h1
{
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    color: #fff;
    line-height: 95px;
}

/* main content */

.offer-content
{
    width: 803px;
    margin: 100px auto;
}

.ofeer-title h1
{
    text-align: center;
    font-size: 88px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    padding-bottom: 50px;
    color: #f00;
}

.ofeer-title h4
{
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    padding-bottom: 16px;
    color: #f00;
}

.ofeer-title h2
{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    padding-bottom: 48px;
    color: #070211;
}

/* Welcome section */

.party-banner
{
    background-image: url(../image/resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
    
}

.party-opacity
{
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0) 100%);
}

.party-content
{
    display: flex;
    gap: 80px;
    justify-content: space-between;
    padding: 50px 120px;
}

.party-title h2
{
    font-size: 65px;
    font-weight: 900;
    font-family: 'Merriweather', serif;
    color: #fff;
    line-height: 88px;
    letter-spacing: 7px;
    padding-top: 70px;
}

.party-title p
{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 30px;
    text-align: justify;
    padding-top: 25px;
    color: rgba(255, 255, 255, 0.80);
}

.btn-prymari
{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    border: 0px;
    background: transparent;
    margin-top: 50px;
    cursor: pointer;
    color: #fff;
}

/* place-section */

.plsce-container
{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 100px 0px;
    padding: 100px;
    text-align: center;
}

.place-content h3
{
    font-size: 32px;
    font-weight: 600px;
    font-family: 'Inter', sans-serif;
    line-height: 56px;
    color: #070211;
}

.place-content h3 span
{
    color: #f00;
}

.place-btn
{
    padding: 16px 32px;
    margin-top: 65px;
    border: 0px;
    border-radius: 8px;
    background-color: #f00;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    cursor: pointer;
    color: #fff;
}

/* new best offer */

.new-offer-content
{
    display: flex;
    gap: 80px;
    margin: 100px 0px;
}

.new-offer-title-left
{
    width: 780px;
}

.new-offer-title-left h2
{
    font-size: 48px;
    font-weight: 900px
    font-family: 'Merriweather', serif;
    padding-bottom: 22px;
    color: #070211;
}

.new-offer-2024
{
    font-size: 48px;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    color: #f00;
    padding-top: 80px;
    padding-bottom: 25px;
}

.best-offer-h3
{
    font-size: 24px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    padding-top: 80px;
    padding-bottom: 16px;
    color: #f00;
}

.new-offer-title-left p, .new-offer-title p
{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    line-height: 32px;
    color: #070211;

}

.new-offer-img-bor
{
    width: 420px;
    height: 420px;
    border: 10px solid #f00;
    border-radius: 50%;
}

.new-offer-title img
{
    padding-top: 30px;
}

.new-offer-img-bor img
{
    margin: 28px;
}
